venv/
build/
dist/

session_name.session
session_name.session-journal

*.env
*.pyc
*.log
*.DS_Store
.aider*
*.jpg

kaas.env
*.db
*.csv
*.json
*.log
*.xlsx
*.DS_Store
*.cursorignore
*.wav
trail.py
*.session
*.sh
*.pdf
*.yaml
.devcontainer/
supervisord.conf
.pre-commit-config.yaml